<li>
	{{name}}

	<button class="change-taken" data-id="{{id}}" data-nowtaken="{{taken}}">
		{{#if taken}}Not Available{{else}}Available{{/if}}
	</button>

	<button class="delete-item" data-id="{{this.id}}">I Want This</button>
</li>