<script src='/js/dash-script.js'></script>

<div class="navbar-header">
    <a class="navbar-brand" href="/logout">
        Logout
    </a>
</div>


<div class="container-fluid">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href='/'>
            <h2>Breaking Bread</h2>
        </a>

        <nav class="navbar-nav row justify-content-end">

            <a class="nav-item nav-link col btn btn-light btn1" href="/">See all my Transactions</a>

            <a class="nav-item nav-link col btn btn-light btn2" href="/requests">Back to Dashboard</a>

            <a class="nav-item nav-link col btn btn-light btn3" href="/">Update Account</a>

        </nav>
    </nav>


    <div class="row">
        <div class="container col-md-3">
            <br>
        </div>
        <div class="foodav-container col-md-6">
            <div class="author-container">
                <h1 class="foodav">All Inventory Posts</h1>
                <table class="table table-bg">
                    <thead>
                        <tr>
                            <th scope="col">Food Item</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Category</th>
                            <th scope="col">Fulfilled?</th>
                            <th scope="col">Fulfilled By</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each all}}
                        <tr>
                            <td>{{this.s_item}}</td>
                            <td>{{this.s_amount}}</td>
                            <td>{{this.s_itemCat}}</td>
                            <td>{{this.claimed}}</td>
                            <td>{{this.claimedBy}}</td>
                            <td>{{this.createdAt}}</td>
                            <td>{{> update}} </td>
                            <td>{{> delete}} </td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>